<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  
  <div class="body">
  <h1>Netflix Movie Recommendation<br /> <link rel="stylesheet" href="/static/style.css" /></h1>
  <div class="wrapper">
    <link rel="stylesheet" href="/static/style.css" />
    <form action="predict" method="post">
    <input name="movie" class="search" type="text" id="movie" placeholder="Movie name here" />
    <link rel="stylesheet" href="/static/style.css" />
    <!-- <input class="submit" type="submit" value="Submit" /> -->
    <button class="submit" type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
  </form>
    <link rel="stylesheet" href="/static/style.css" />
  </div>

  <h2>Click Submit to get recommendations <link rel="stylesheet" href="/static/style.css" /></h2>

<br>
<br>



</head>
</html>